# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Photo and video files
.png
.jpg
.jpeg
.avif
.gif
.svg
.mp4
.mov
.avi
.mkv
.webm

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
